$main-bg-color: #282C34;
$help-bg-color: #333945;
$interface-bg-color: #222631;
$main-color: #ABB2BF;
$standard-font-size: 15px;
$standard-font: Arial, Helvetica, sans-serif;
$link-color: #508cff;

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: $main-bg-color;
    color: $main-color; 
    font-size: $standard-font-size;
    font-family: $standard-font;

    padding: 20px;

    h1{
        margin-bottom: 20px;
    }

    a{
        color: $link-color;
    }

    #help{
        font-size: 35px;
        font-weight: bold;
    }

    #help-panel{
        background-color: $help-bg-color;

        padding: 20px;
        border-radius: 2%;

        position: absolute;
        top: 75px;
        left: 750px;
    }

    #options{

        background-color: $interface-bg-color;
        width: 600px;
        padding: 20px;
        margin-left: 20px;
        border-radius: 2%;

        #standard-color-panel{

            margin-bottom: 20px;
    
            input[type=color]{
                border-radius: 50%;
                height: 20px;
                width: 20px;
                border: none;
                outline: none;
                -webkit-appearance: none;
            }
    
            input[type=color]::-webkit-color-swatch-wrapper {
                padding: 0; 
            }
            input[type=color]::-webkit-color-swatch {
                border: none;
                border-radius: 50%;
            }
    
            table{
                border-collapse: collapse;
                margin-top: 10px;
                margin-left: 20px;
            }
    
            td{
                padding-right: 10px;
            }
        }

        #upload-download-panel{
            button{
                padding: 0 5px;
            }

            input{
                display: none;
            }
        }
    }

    #interface-panel{

        background-color: $interface-bg-color;
        margin-left: 20px;
        margin-top: 10px;
        width: 600px;
        border-radius: 2%;
        padding: 20px;

        #add-panel{
            margin-top: 20px;

            button{
                padding: 0 5px;
            }
        }

        #faecher{
    
            border-collapse:separate;
            border-spacing: 0 10px;
            margin-top: 10px;
            margin-left: -14px;
    
            tr{
    
                th{
                    padding: 5px;
                }
    
                td{
                    min-width: 100px;
                    text-align: center;
                    vertical-align: middle;
                }
    
                button{
                    background: none;
                    color: white;
                    font-weight: bold;
                    border: none;
                }
    
                input:hover,
                button:hover{
                    cursor: pointer;
                }
    
                input[type=color]{
                    border-radius: 50%;
                    height: 20px;
                    width: 20px;
                    border: none;
                    outline: none;
                    -webkit-appearance: none;
                }
    
                input[type=color]::-webkit-color-swatch-wrapper {
                    padding: 0; 
                }
                input[type=color]::-webkit-color-swatch {
                    border: none;
                    border-radius: 50%;
                }
    
            }
    
            tr:hover td{
                background-color: #505050;
            }
        }

    }
    
}

@media only screen and (max-width: 1200px) {
    body{
        #help-panel{
            left: 660px;
        }
    }
}

@media only screen and (max-width: 900px) {
    body{
        #interface-panel,
        #options{
            width: 100%;
            margin: 0;
        }
        #help-panel{
            position: inherit;

            margin-top: 20px;
        }
        #interface-panel{
            #faecher{
                tr{
                    th{
                        width: 10%;
                    }
                    
                    th,
                    td{
                        min-width: 10%;
                    }
                }
            }
        }
    }
}