$main-bg-color: #282C34;
$main-color: #ABB2BF;
$standart-font-size: 15px;
$standart-font: Arial, Helvetica, sans-serif;

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: $main-bg-color;
    color: $main-color; 
    font-size: $standart-font-size;
    font-family: $standart-font;

    padding: 20px;

    p{
        position: absolute;
        top: 185px;
        left: 700px;
    }

    #add-panel{
        margin-top: 20px;
    }

    #standart-color-pannel{

        position: absolute;
        top: 50px;
        left: 300px;

        input[type=color]{
            border-radius: 50%;
            height: 20px;
            width: 20px;
            border: none;
            outline: none;
            -webkit-appearance: none;
        }

        input[type=color]::-webkit-color-swatch-wrapper {
            padding: 0; 
        }
        input[type=color]::-webkit-color-swatch {
            border: none;
            border-radius: 50%;
        }

        table{
            border-collapse: collapse;
            margin-top: 10px;
        }

        td{
            padding-right: 10px;
        }
    }

    h2{
        margin-top: 40px;
    }

    #faecher{
        margin-top: 10px;
        width: 300px;

        border-collapse:separate;
        border-spacing: 0 10px;

        tr{

            th{
                padding: 5px;
            }

            td{
                min-width: 100px;
                text-align: center;
                vertical-align: middle;
            }

            button{
                background: none;
                color: white;
                font-weight: bold;
                border: none;
            }

            button:hover{
                cursor: pointer;
            }

            input[type=color]{
                border-radius: 50%;
                height: 20px;
                width: 20px;
                border: none;
                outline: none;
                -webkit-appearance: none;
            }

            input[type=color]::-webkit-color-swatch-wrapper {
                padding: 0; 
            }
            input[type=color]::-webkit-color-swatch {
                border: none;
                border-radius: 50%;
            }

        }

        tr:hover{
            background-color: #505050;
        }
    }

    
}