$main-bg-color: #282C34;
$main-color: #ABB2BF;

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: $main-bg-color;
    color: $main-color;

    padding: 10px;

    #add-panel{
        margin-top: 20px;
    }

    h3{
        margin-top: 20px;
    }

    #faecher{
        margin-top: 20px;
        width: 300px;

        .fach{
            display: flex;
            margin-bottom: 10px;

            lable,
            input{
                flex: 1;
            }

            button{
                margin: 0 10px 0 0;
                padding: 0 3px;
                background: none;
                color: white;
                font-weight: bold;
                border: none;
            }

            button:hover{
                cursor: pointer;
            }

            
        }
        .fach:hover{
            background-color: #505050;
        }
    }

    
}